{# templates/musculation/create.html.twig #}


{% block body %}
    <h1>Créer une séance de musculation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}


{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une séance de musculation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistr


{% extends 'base.html.twig' %}